.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;

    &-announcement {
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        height: 2rem;
        width: 100%;
        background-color: var(--cw2-colorPrimary);
        color: #fff;
        padding: 0 8rem;
        z-index: 99;
        @include respond-to(mobile) {
            padding: 0 1rem;
        }

        &-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            & p:nth-of-type(1) {
                display: none;
            }

            @include respond-to(mobile) {
                gap: 0.5rem;
                & p:nth-of-type(2) {
                    display: none;
                }
                & p:nth-of-type(1) {
                    display: block;
                }   
            }

                & > p {
                    font-size: $font-size-small;
                    align-self: flex-start;

                   

                    @include respond-to(mobile) {
                        font-size: small;
                    }
                }

                & > i {
                    align-self: flex-end;
                    font-size: 1.3rem;
                    transform: rotate(-30deg);
                    margin: auto;
                    // margin-left: auto;
                    // margin-right: 0;
                    // color: rgb(var(--cw2-fontNormal));
                }

                & > button {
                    background-color: transparent;
                    border: none;
                    color: #fff;

                    & > i {
                        font-size: 1.3rem;
                        margin: auto;
                        // transform: rotate(-30deg);
                        // color: rgb(var(--cw2-fontNormal));
                    }
                }
            }
    }

    &-header {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: var(--cw2-bg);
        padding: 1rem calc(100vw / 8.5);
        width: 100%;
        margin-top: 2rem;
        // z-index: 10;
        // position: relative;

        @include respond-to(mobile) {
            position: fixed;
            height: 4rem;
            top: 0;
            padding: 0.5rem 1rem;
            align-items: center;
            justify-content: center;
            z-index: 30;
            // margin-top: 2rem;
        }

        


        &-top{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 0rem;
            align-items: center;
            width: 100%;
            height: 100%;
            // margin-top: 2rem;

            // @include respond-to(mobile) {
            //     margin-top: 3rem;
            // }

            &-empty{
                width: 33%;
                @include respond-to(mobile) {
                    display: none;
                }
            }

            &-brand {
               
                &-mobile {
                    display: none;
                    align-self: center;
                    justify-self: center;
                    width: 30%;
                    fill: rgb(var(--cw2-fontNormal));
                    stroke: none;
                    z-index: 20;
    
                    @include respond-to(mobile) {
                        align-self: center;
                       
                        width: 50%;
                    }
                    & > svg {
                        width: 100%;
                       
                    }
                    
                    @include respond-to(mobile) {
                        display: block;
                    }
                }
    
            }

            &-info {
               
                justify-self: center;
                align-self: center;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 3rem;
                width: 33%;

                @include respond-to(mobile) {
                    display: none;
                }

                & > div {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    & > p {
                        margin:0;
                    }
                }


            }

            &-btnNav {
                display: none;
                height: auto;
                width: auto;
                border: none;
                background-color: transparent;
                align-self: center;
                justify-self: center;

                @include respond-to(mobile) {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 1.2rem;
                    right: 1rem;
                    z-index: 20;

                }

                & > span:not(:last-child) {
                    margin-bottom: 0.5rem;
                }

                & > span {
                    height: 2px;
                    width: 2rem;
                    background-color: rgb(var(--cw2-fontNormal));

                }
            }
    
            &-themeswitch {
                justify-self: flex-end;
                align-self: center;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border-radius: 2rem;
                border: 1px solid var(--cw2-colorPrimary);
                padding: 0.1rem 1rem;

                &-desktop {
                    justify-self: flex-end;
                    align-self: center;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 1rem;
                    width: 33%;
                    @include respond-to(mobile) {
                        display: none;
                    }

                    & > p {
                        margin:0;
                    }

                    & > a {
                        height: auto;
                        color: rgb(var(--cw2-fontNormal));
                        & > p {
                            margin:0;
                        }
                    }
                }

                &-mobile {
                    display: none;

                    @include respond-to(mobile) {
                        justify-self: flex-start;
                        align-self: center;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 1rem;
                        width: 100%;

                        & > p {
                            margin:0;
                        }
    
                        & > a {
                            height: auto;
                            color: rgb(var(--cw2-fontNormal));
                            & > p {
                                margin:0;
                            }
                        }
                    }
                }

                &-text {
                    color: rgb(var(--cw2-fontNormal));
                }

                &-circle {
                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                   
                    border-radius: 50%;
                    background-color: transparent;
                    margin: auto;
                    transition: all  0.2s ease-in-out;
                   
                }
            }
        }

        &-nav{

            display:flex ;
            flex-direction: row;

            @include respond-to(mobile) {
                flex-direction: column;
                gap: 2rem;
                position: fixed;
                height: 100%;
                width: 100%;
                transform: translateX(100%);
                top: 0rem;
                left: 0;
                background-color: var(--cw2-bg2);
                padding-top: 8rem;
                padding-left: 2rem;
                transition: all 0.5s ease-in-out;
            }

            &-brand {
               
                &-desktop {
                    align-self: center;
                    justify-self: flex-start;
                    width: 30%;
                    fill: rgb(var(--cw2-fontNormal));
                    stroke: none;
    
                    @include respond-to(mobile) {
                        align-self: center;
                        margin-left: 0;
                        margin-right: auto;
                        width: 50%;
                    }
    
                    &-img {
                        transform: scale(1, 1);
                        height: auto;
                        width: 60%;
                        fill: rgb(var(--cw2-fontNormal));
                        stroke: none;
    
                        & > path {
                            fill: rgb(var(--cw2-fontNormal));
                            stroke: none;
                        }
    
                        @include respond-to(mobile){
                            width: 100%;
                        }

                    }
                    @include respond-to(mobile) {
                        display: none;
                    }
                }




            }

            &-container {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                & > ul {
                    margin: 0;
                }

                @include respond-to(mobile) {
                    width: 100%;
                }
                &-menu{
                    justify-self: center;
                    align-self: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 3rem;
                    list-style: none;
    
                    @include respond-to(mobile) {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        align-self: flex-start;
                        gap: 1rem;
                        padding: 0;
                        margin-top: 3rem;
                        width: 100%;
                        &::after {
                            content: '';
                            width: 90%;
                            border-bottom: 1px solid rgba(var(--cw2-fontNormal), $alpha: 0.1);
                        }
                    }
    
    
                    &-inactive > a {
                        color: rgb(var(--cw2-fontDisabled)) !important;
                        font-size: $font-size-mid !important;
                        font-weight: 200;
                        letter-spacing: 0.1rem;
                        line-height: 0;
    
                        &:hover{
                            transition: all 0.4s ease-in-out;
                        }
                    }
    
                    &-active > a {
                        color: var(--cw2-colorPrimary) !important;
                        font-size: $font-size-mid !important;
                        font-weight: 300;
                        letter-spacing: 0.1rem;
                        line-height: 0;

                    }
    
                }
            }
           
        }

    }

    &-body {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0;
        width: 100%;

        @include respond-to (mobile) {
            
        }

        &-promos {
            background-color: var(--cw2-bg2);
            height: 50rem;
            width: 100%;
            margin: 0;
            padding: 0;

            @include respond-to(mobile){
                height: auto;
                width: 100%;
                margin-top: 6rem;
            }
        }

        &-all {
            display: flex;
            flex-direction: column;
            gap: 6rem;
            width: 80%;
            margin: auto;
            margin-top: 5rem;
            // padding-left: 4rem;

            @include respond-to(mobile){
                width: 100%;
                margin: 0;
                margin-top: 2.5rem;
            }

            &-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 3rem;
                // margin: auto;
                width: 100%;
                &-name {
                    justify-self: flex-start;
                    align-self: flex-start;
                    // margin-left: 0;
                    // margin-right: auto;
                    width: 100%;
                    border-bottom: 1px solid rgba(var(--cw2-fontNormal), $alpha: 0.5);

                    @include respond-to(mobile) {
                        justify-self: center;
                        align-self: center;
                        // margin: auto;
                    }
                    & > h2 {
                        // justify-content: flex-start;
                        // align-items: flex-start;
                        text-align: left;
                        font-size: $font-size-big;

                        @include respond-to(mobile) {
                            text-align: center;
                        }

                    }
                }

                &-posts {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    // gap: 2rem;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 100%;
                    // gap: calc(100vw / 51);
                    // margin: auto;
                    // padding: 5px;

                    @include respond-to(mobile) {
                        padding: 1rem;
                        gap: 0.5rem;
                    }
    
                    &-post {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 1rem;
                        width: 15rem;
                        height: 18rem;
                        border: 1px solid rgba(var(--cw2-fontNormal), $alpha: 0.1);
                        // margin: 5px;

                        @include respond-to(mobile) {
                            width: 10rem;
                            height: 15rem;
                        }
    
                        &-img {
                            width: 100%;
                            height: 50%;
    
                            & > img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }

                        &-content {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            gap: 2rem;
                            height: 50%;
                            width: 100%;
                            padding: 1rem;

                            @include respond-to(mobile) {
                                gap: 1rem;
                            }

                            &-date {
                                align-self: flex-end;
                                justify-self: flex-end;
                                & > p {
                                    font-size: x-small;
                                }
                            }
        
                            &-title {
                                align-self: flex-start;
                                justify-self: flex-start;
        
                                & > h2 {
                                    font-size: medium;
                                    @include respond-to(mobile) {
                                        font-size: small;
                                    }
                                }
                            }
                        }
    
                    }

    
                    &-more {
                        width: 15rem;
                        font-size: $font-size-big;
                        align-self: center;
                        justify-self: center;
                        @include respond-to(mobile) {
                            width: 10rem;;
                            text-align: center;
                        }
                        & > button {
                            background-color: transparent;
                            border: none;
                            @include respond-to(mobile) {
                                font-size: 1rem;
                            }
                            // & > i {
    
                            // }
                        }
                    }
                }
            }

            &-events {
                justify-self: center;
                align-self: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 40%;
                gap: 3rem;
                // height: 50rem;
                &-control {
                    z-index: 20;
                }
                
                @include respond-to(mobile) {
                    gap: 1.5rem;
                        &-control, .carousel-control-prev, .carousel-control-next{
                            z-index: 20;
                            position: relative;
                        &.carousel-control-next{
                           position: absolute;
                           bottom: 8rem;
                        }
                        &.carousel-control-prev {
                            position: absolute;
                            bottom: 8rem;
                        }
                       
                    }
                    
                }

                &-title {
                    justify-self: flex-start;
                    align-self: flex-start;
                    width: 100%;
                    border-bottom: 1px solid rgba(var(--cw2-fontNormal), $alpha: 0.5);
                    @include respond-to(mobile) {
                        justify-self: center;
                        align-self: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                       
                     }
                    & > h2 {
                        // text-align: left;
                        // margin-left: 0;
                        // margin-right: auto;

                        @include respond-to(mobile) {
                            
                            justify-self: center;
                            align-self: center;
                           text-align: center;
                        }
                    }
                }
                &-carousel {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    // margin: auto;

                   &-main {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    // padding: 0.5rem;
                    @include respond-to(mobile) {
                       gap: 1rem;
                    }


                    
                    &-title {
                        position: absolute;
                        bottom: 6rem;
                        left: 2rem;
                        z-index: 20;

                        @include respond-to(mobile) {
                            bottom: 8rem;
                            left: 1rem;
                            top: auto;
                        }

                        & > h2 {
                            color: #fff;
                            font-size: xx-large;

                            @include respond-to(mobile) {
                                font-size: x-large;
                               
                            }
                        }
                    }

                    &-excerpt {
                        z-index: 20;
                        position: absolute;
                        width: 50%;
                        bottom: 3rem;
                        right: 2rem;

                        @include respond-to(mobile) {
                            position: relative;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            top: 0;
                            width: 100%;
                            padding: 1rem 1rem;
                            // margin-top: 2rem;
                        }

                        & > p {
                            font-size: medium;
                            color: #fff;


                            @include respond-to(mobile) {
                                font-size: small;
                                color: rgb(var(--cw2-fontNormal));
                                text-align: center;
                            }
                        }
                    }

                    &-date {
                        z-index: 20;
                        position: absolute;
                        bottom: 2rem;
                        right: 2rem;

                        @include respond-to(mobile) {
                            bottom: 7rem;
                            left: 1rem;
                            // top: auto;
                            width: 60%;
                        }

                        & > p {
                            color: #fff;
                            font-size: medium;
                            @include respond-to(mobile) {
                                font-size: smaller;
                               
                            }
                            
                        }
                    }
                    &-img {
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        
                        & > img {
                            height: 40rem;
                            width: 100%;
                            object-fit: cover;
                            
                            @include respond-to(mobile) {
                                // margin-left: 2.5vw;
                                height: auto;
                                width: 100%;
                                object-fit: contain;
                            }

                            
                        }
                        &::after {
                            content: '';
                            z-index: 10;
                            position: absolute;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            top: 0;
                            background: rgba(0,0,0, 0.2);
                            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8) 100%);
                            }

                        &-overlay {
                            position: absolute;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            top: 0;
                            background: rgba(0,0,0, 0.2);
                            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8) 100%);
    
                            @include respond-to(mobile) {
                                // margin-left: 2.5vw;
                                height: auto;
                                // width: 100%;
                            }
    
                        }

                    }

                   }

                }
            }

        }

    }

    &-footer {
        justify-self: flex-end;
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        background-color: var(--cw2-bg2);
        height: 20rem;
        width: 100%;
        padding: 2rem 14rem;
        margin-top: 7.5rem;
        margin-bottom: 0;

        @include respond-to(mobile) {
            padding: 2rem 2rem;
        }

        &-brand {
            display: flex;
            flex-direction: column;
            // align-self: flex-start;
            // justify-self: flex-start;
            margin-left: 0;
            margin-right: auto;
            &-title {
                color: var(--cw2-colorPrimary);
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            // align-self: flex-end;
            // justify-self: flex-start;
            margin-left: auto;
            margin-right: 0;
            &-title {
                color: var(--cw2-colorPrimary);
            }
        }
    }
}
.carousel-item > img {
    width: 100%;
    height: 50rem;
    object-fit: cover;

    @include respond-to(mobile){
        height: auto;
        width: 100%;
    }
}

.event-cw2 {
    background-color: var(--cw2-bg3);
}

.articles-cw2 {
    background-color: var(--cw2-bg2);
}